@model FullStackTechTest.Models.SpecialityViewModel.DetailsViewModel

@{
    ViewData["Title"] = Model.IsEditing ? "Edit " : Model.IsInserting ? "Inserting Speciality" : "" + $"{Model.speciality.SpecialityName} ";
}

<div class="container">
    <div class="pb-4">
        @if (Model.IsEditing || Model.IsInserting)
        {
            <a href="@Url.Action("Index")" class="btn btn-primary" role="button">Back</a>
        }
        @if (!Model.IsEditing)
        {
            <a href="@Url.Action("Edit", new { specialityId = Model.speciality.Id })" class="btn btn-primary" role="button">Edit</a>
        }
        @if (!Model.IsInserting)
        {
            <a href="@Url.Action("Create", new { specialityId = Model.speciality.Id })" class="btn btn-primary" role="button">Insert</a>
        }
        
        @if (Model.IsEditing || Model.IsInserting)
        {
            <a href="@Url.Action("Details", new { specialityId = Model.speciality.Id })" class="btn btn-primary" role="button">Cancel</a>
        }
    </div>

    @using (Html.BeginForm("Edit", "Speciality", FormMethod.Post, new { @class = "form-inline" }))
    {
        <input type="hidden" name="speciality.id" value="@Model.speciality.Id" />
        
        <div class="form-group pb-4">
            <label>Id:</label>
            <input type="number" name="speciality.id" value="@Model.speciality.Id" class="form-control-plaintext" readonly />
        </div>

        <div class="form-group pb-1">
            <label>Speciality Name:</label>
            <input type="text" name="speciality.SpecialityName" value="@Model.speciality.SpecialityName" class="@(Model.IsEditing ? "form-control" : "form-control-plaintext")" @(Model.IsEditing ? "" : "readonly") />
        </div>
        
        @if (Model.IsEditing)
        {
            <div>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        }
    }
</div>